body {
  padding: 60px;
  background-color: #fbfcfe;
}
.navbar-default {
  background-color: #3264c8;
}
.navbar-default .navbar-brand {
  color: #eeeeee;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color: #4372d0;
  color: white;
}
.navbar-default .navbar-brand.active {
  background-color: #6c91da;
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #eeeeee;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #4372d0;
  color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #6c91da;
  color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #6c91da;
  color: #ffffff;
}
.navbar-default .dropdown-menu {
  background-color: #6c91da;
}
.navbar-default .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .dropdown-menu > li > a:hover {
  background-color: #4372d0;
  color: white;
}
.navbar-default .github a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-default .version-badge .code {
  color: white;
}
.navbar-default a[version] {
  padding: 5px 20px;
}
.navbar-default a.legacy {
  font-style: italic;
  color: #ddd !important;
}
.container {
  max-width: 960px;
}
.version-badge .code {
  font-size: 1.1em;
  font-weight: bold;
  color: #3264c8;
}
.version-badge .play-bootstrap > span {
  font-size: 0.9em;
  font-weight: bold;
  border: 1px solid #5c3f83;
  padding: 5px;
}
.version-badge .play-bootstrap .play {
  background-color: white;
  color: #93d53a;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.version-badge .play-bootstrap .bootstrap {
  background-color: #5c3f83;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.version-badge a[version] {
  padding: 5px 20px;
}
.header-with-logo > div {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
#github-buttons {
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
}
#github-buttons img {
  position: absolute;
  top: -5px;
  left: 120px;
}
i.fa-github {
  vertical-align: middle;
}
.footer {
  background-color: #e7edf9;
  margin-top: 20px;
  padding: 20px 0;
  line-height: 15px;
}
h3,
h4 {
  margin-top: 35px;
}
h1 + h2,
h2 + h3,
h3 + h4 {
  margin-top: 15px;
}
input:invalid {
  color: red !important;
}
.example-html5-validation input:valid {
  color: green !important;
}
.highlight {
  background-color: #fffff8;
}
pre code {
  white-space: pre;
}
span.def {
  color: #888;
  font-size: 0.75em;
  font-style: italic;
  margin-left: 20px;
}
.tab-pane > .bs-example {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-inline button.apply-tweak {
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-inline .tweak .highlight {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-inline .tweak .highlight pre code {
  color: #aaa;
}
.form-inline.align-top .form-group {
  vertical-align: top;
}
.form-inline.align-top .tweak .highlight pre code {
  color: #d9534f;
}
[data-toggle="collapse"] .fa.fa-caret {
  float: right;
  margin-left: 15px;
}
[data-toggle="collapse"] .fa.fa-caret:before {
  content: "\f0d7";
}
[data-toggle="collapse"][aria-expanded="true"] .fa.fa-caret:before {
  content: "\f0d8";
}
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a,
.bs-docs-sidebar .nav > li > a:hover {
  color: #3264c8;
  border-color: #3264c8;
}
.bs-docs-sidenav {
  min-width: 210px;
}
.changelog h2 {
  font-size: 24px;
}
.changelog .lead {
  font-size: 18px;
  font-style: italic;
}
.changelog ul {
  list-style-type: none;
  padding-left: 20px;
}
.changelog ul > li {
  font-size: 15px;
}
.changelog .panel ul {
  list-style-type: square;
}
.multi-checkbox-list.inline > div {
  display: inline-block;
  margin-right: 20px;
}
.input-text-checkbox > .input-group-addon .checkbox {
  display: inline;
}
.input-text-checkbox > .input-group-addon label {
  display: inline;
  padding: 0;
}
.input-text-checkbox > .input-group-addon label input {
  position: relative;
  margin-left: 0;
}
.input-daterange #dateStart + .form-control-feedback {
  right: 395px;
}
.input-daterange #dateEnd + .form-control-feedback {
  right: 0px;
}
.input-text-checkbox #foo + .form-control-feedback {
  right: 0px;
}
.input-number-plus,
.input-number-minus {
  cursor: pointer;
}
.input-number {
  width: 150px;
}
.input-number input {
  text-align: center;
}
.input-number input + .form-control-feedback {
  right: 40px;
}
.my-form-group {
  white-space: nowrap;
}
.my-form-group > div.field-container {
  width: 50%;
}
.my-form-group > div {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  margin: 0;
}
.my-form-group > div ul {
  padding-left: 0;
  list-style-type: none;
}
.my-form-group > div .help-error {
  color: #a94442;
}
.my-form-group > div .help-info {
  color: #8a6d3b;
}
